{%extends "base.html"%}

{% block head %}

{% endblock %}


{% block body %}
<div class="listi_body">
  {% for hlutir in hlutir %}
<div class="listi_hlutir_box">
  <li class="listi_hlutir">
    <h1>{{ hlutir[0] }}</h1>
    <p>{{ hlutir[1] }}</p>
    <h5>{{ hlutir[2] }}</h5>
    <img src="{{ hlutir[3] }}" alt="{{ hlutir[0] }}">
    <form class="" action="/{{hlutir[1]}}" method="post">
    <a href="/add/{{hlutir[5]}}"><button class="takki" type="button" name="button"><i class="fas fa-shopping-cart"></i> Buy</button></a>
    </form>
  </li>
</div>
{% endfor %}
</div>
{% endblock %}
